{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Beacon Point Health</h1>
    <p>
        Beacon Point Health provides guidance on navigating workers compensation medical reimbursement.
        How should you be paying the providers for the services rendered to the injured workers?
    </p>
</div>
<div class="container mt-4">
    <h2>Quick Medicare Rate Lookup</h2>
    {% include "core/includes/medicare_lookup.html" %}
</div>
{% endblock %}

